## Read {year,type,county} data extracted [by Chat GPT](https://chat.openai.com/share/cb4c2293-5320-47a2-8512-5e9ac823ac4d)

For years that are otherwise missing from the annual "Victim Classification by County" summary PDFs (see [NJSP summary PDFs.ipynb](../annual-summaries/NJSP%20summary%20PDFs.ipynb)).

In [1]:
from utz import *
from njsp.paths import MISSING_YTC

In [2]:
def read_annual_csv(year):
    a = read_csv(f'{year}.csv')
    a.columns = a.columns.str.lower()
    a = a.rename(columns={ 'pedalcyclist': 'cyclist', })
    a = a.set_index('county')
    a.index = a.index.str.capitalize()
    total = a.loc['Total']
    c = a.drop(index='Total')
    cols = [ 'driver', 'passenger', 'pedestrian', 'cyclist' ]
    assert (c.sum() == total).all()
    assert (a[cols].sum(1) == a.killed).all()
    return c.drop(columns='killed')

In [3]:
def read_annual_csvs(years):
    df = pd.concat([
        read_annual_csv(year).assign(year=year)
        for year in years
    ]).reset_index()
    df['county'] = df['county'].str.replace('Cape may', 'Cape May')
    return df.set_index(['year', 'county'])

In [4]:
c = read_annual_csvs([ 2008, 2009, 2017, 2018 ])
c

                 crashes  driver  passenger  pedestrian  cyclist
year county
2008 Atlantic         30      17          8           6        0
     Bergen           22      10          5           7        1
     Burlington       45      23          6          12        4
     Camden           42      25          4          15        0
     Cape May         11       8          3           0        0
     Cumberland       23      15          5           2        1
     Essex            43      23         11          14        1
     Gloucester       29      14         13           5        1
     Hudson           24      13          4           6        4
     Hunterdon         9       6          2           3        0
     Mercer           20      11          6           4        1
     Middlesex        42      28          9           8        1
     Monmouth         45      29          9           7        2
     Morris           25      15          2           6        3
     Ocean            37      20          8          10        0
     Passaic          25       9          5          11        0
     Salem            14      13          3           0        0
     Somerset         15       8          2           5        0
     Sussex           14      12          2           0        0
     Union            35      17          4          16        1
     Warren            5       4          1           1        0
2009 Atlantic         41      22          8          12        1
     Bergen           25      14          0          12        0
     Burlington       43      27         14           7        0
     Camden           37      24          7           9        2
     Cape May          8       7          0           1        0
     Cumberland       27      21          5           1        1
     Essex            40      14          7          21        0
     Gloucester       22      14          4           3        1
     Hudson           22       7          3          12        0
     Hunterdon         8       5          1           2        0
     Mercer           21      11          4           7        0
     Middlesex        44      19         10          18        1
     Monmouth         34      18          2          11        3
     Morris           18      12          3           3        0
     Ocean            57      32         12          15        4
     Passaic          23      16          5           5        0
     Salem            13      11          1           1        1
     Somerset         13       9          3           1        0
     Sussex            7       5          2           0        0
     Union            38      21          6          14        0
     Warren            9       6          1           2        0
2017 Atlantic         34      21          5          10        0
     Bergen           25      13          5           8        1
     Burlington       46      31          5          12        0
     Camden           40      22          6          15        1
     Cape May         15       9          5           2        0
     Cumberland       24      16          4           5        1
     Essex            39      14          3          22        1
     Gloucester       43      25          9           9        1
     Hudson           23       6          2          15        3
     Hunterdon         8       7          0           1        0
     Mercer           26      13          2          11        0
     Middlesex        44      26          7          13        2
     Monmouth         40      25          6          11        1
     Morris           26      16          5           7        1
     Ocean            52      28          8          13        4
     Passaic          18       9          4           5        0
     Salem            15      16          1           0        0
     Somerset         22      13          2           7        1
     Sussex            7       6          0           1        0
     Union            33      17          3          14        0
     Warren           11       6          3           2        0
2018 Atlantic         27      17          7           6        0
     Bergen           32       9          3          19        1
     Burlington       40      22          8          13        1
     Camden           42      28          8           7        3
     Cape May         10       9          0           1        0
     Cumberland       18      14          2           2        1
     Essex            43      13          5          25        2
     Gloucester       33      19         12           6        1
     Hudson           21       3          4          14        1
     Hunterdon         3       2          0           1        0
     Mercer           28      12          3          12        2
     Middlesex        47      26         10          14        0
     Monmouth         28      16          3           9        1
     Morris           25      15          7           5        1
     Ocean            31      18         12           8        1
     Passaic          20      11          1           9        0
     Salem             7       7          2           0        0
     Somerset         23       9          4           9        1
     Sussex           12      10          1           1        0
     Union            27      10          2          14        1
     Warren            7       6          1           0        0

In [5]:
c.to_csv(MISSING_YTC)